<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=549&amp;mobile=2</string>
			<key>name</key>
			<string>文章天地</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=550&amp;mobile=2</string>
			<key>name</key>
			<string>心灵花园</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=106&amp;mobile=2</string>
			<key>name</key>
			<string>校园交易</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=108&amp;mobile=2</string>
			<key>name</key>
			<string>我是女生</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=115&amp;mobile=2</string>
			<key>name</key>
			<string>版聊专区</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=217&amp;mobile=2</string>
			<key>name</key>
			<string>缘聚睿思</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=142&amp;mobile=2</string>
			<key>name</key>
			<string>失物招领</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=551&amp;mobile=2</string>
			<key>name</key>
			<string>西电问答</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=157&amp;mobile=2</string>
			<key>name</key>
			<string>校园活动</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=552&amp;mobile=2</string>
			<key>name</key>
			<string>我要毕业了</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=553&amp;mobile=2</string>
			<key>name</key>
			<string>就业招聘</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=560&amp;mobile=2</string>
			<key>name</key>
			<string>技术博客</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=548&amp;mobile=2</string>
			<key>name</key>
			<string>学习交流</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=145&amp;mobile=2</string>
			<key>name</key>
			<string>软件技术交流区</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=144&amp;mobile=2</string>
			<key>name</key>
			<string>嵌入式技术交流区</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=91&amp;mobile=2</string>
			<key>name</key>
			<string>考研交流</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=152&amp;mobile=2</string>
			<key>name</key>
			<string>竞赛交流</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=134&amp;mobile=2</string>
			<key>name</key>
			<string>Abroad &amp; English</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=72&amp;mobile=2</string>
			<key>name</key>
			<string>灌水专区</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=561&amp;mobile=2</string>
			<key>name</key>
			<string>摄影天地</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=215&amp;mobile=2</string>
			<key>name</key>
			<string>西电后街</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=216&amp;mobile=2</string>
			<key>name</key>
			<string>我爱运动</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=563&amp;mobile=2</string>
			<key>name</key>
			<string>邀请专区</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=138&amp;mobile=2</string>
			<key>name</key>
			<string>腾讯创新俱乐部</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=150&amp;mobile=2</string>
			<key>name</key>
			<string>华为创新俱乐部</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=2&amp;mobile=2</string>
			<key>name</key>
			<string>帮助专区</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=141&amp;mobile=2</string>
			<key>name</key>
			<string>发展建议专区</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=137&amp;mobile=2</string>
			<key>name</key>
			<string>邀请码申请专区</string>
		</dict>
		<dict>
			<key>url</key>
			<string>http://bbs.rs.xidian.me/forum.php?mod=forumdisplay&amp;fid=94&amp;mobile=2</string>
			<key>name</key>
			<string>公告活动专区</string>
		</dict>
	</array>
</array>
</plist>
